.memo-textarea {
    resize: none;
    height: auto;
}

a#new-memo {
    margin-left: .75rem;
}

a#reset-search {
    display: none;
}

div.nav-wrapper {
    font-size: 1.5rem;
    margin-left: 2rem;
}

div.card {
    cursor: pointer;
}

.preloader-background {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.5;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#search-div {
    width: 30%;
    margin-left: 70%;
}

/* refer to https://codepen.io/theotop/pen/qrdWbd */
.msg {
    /* width: 100%; */
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    color: grey;
}

.msg-error {
    border-color: #d32f2f;
    background-color: #ef5350;
    color: white;
    display: inline-block;
}